[Unit]
Description=Geoclue needs to get a (geo)clue

After=graphical-session-pre.target
PartOf=graphical-session.target

OnFailure=notify-err@%n

[Service]
ExecStart=/usr/lib/geoclue-2.0/demos/agent
