[Unit]
Description=PolicyKit-gnome provides an Authentication Agent for PolicyKit
Documentation=https://wiki.archlinux.org/title/Polkit

After=graphical-session-pre.target
PartOf=graphical-session.target

OnFailure=notify-err@%n

[Service]
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
