[Unit]
Description=Display management via way-displays
Documentation=https://github.com/alex-courtis/way-displays

After=graphical-session-pre.target
PartOf=graphical-session.target

OnFailure=notify-err@%n

[Service]
ExecStart=/usr/bin/way-displays
