[Unit]
Description=User hibernate actions
Before=hibernate.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0 WAYLAND_DISPLAY=wayland-1
ExecStart=/usr/local/bin/waylock-run
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=hibernate.target
