[Unit]
Description=User resume actions
After=suspend.target hibernate.target

[Service]
User=%I
Type=simple
; ExecStart=/usr/local/bin/ssh-connect.sh

[Install]
WantedBy=suspend.target hibernate.target
