[Unit]
Description=Status bar: yambar (laptop)
Documentation=man:yambar(1)

After=graphical-session-pre.target
PartOf=graphical-session.target

OnFailure=notify-err@%n

[Service]
ExecStart=/usr/bin/yambar -c %h/.config/yambar/other.yml -l auto -d warning
