[Unit]
Description=swayidle
Documentation=man:swayidle(1)

After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w \
    timeout 300 'swaylock -f' \
    lock 'swaylock -f' \
    before-sleep 'playerctl pause' \
    before-sleep 'swaylock -f'
Restart=always
