[Unit]
Description=Idle management via swayidle
Documentation=man:swayidle(1)

After=graphical-session-pre.target
PartOf=graphical-session.target

OnFailure=notify-err@%n

[Service]
ExecStart=/usr/bin/swayidle -w \
    timeout 300 'waylock-run' \
    lock 'waylock-run' \
    before-sleep 'playerctl pause' \
    before-sleep 'waylock-run'
Restart=always

ExecStopPost=/usr/bin/notify-send -a systemd -u low \
  -h string:image-path:/usr/share/icons/Qogir-dark/scalable/devices/laptop.svg \
  'Idle Service Stopped' 'Device will no longer lock after a period of inactivity'
ExecStartPost=/usr/bin/notify-send -a systemd -u low \
  -h string:image-path:/usr/share/icons/Qogir-dark/scalable/devices/laptop.svg \
  'Idle Service Started' 'Device will lock after a period of inactivity'
