[Unit]
Description=Notify user of systemd service stoppage

After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
Type=notify
ExecStart=/usr/bin/notify-send -a systemd \
  -i /usr/share/icons/Qogir/scalable/apps/info.svg \
  "Service Stopped" "%i has stopped." --hint="string:wired-tag:tag_name"
