[Unit]
Description=Notify user of systemd service errors

After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
Type=notify
ExecStart=/usr/bin/notify-send -a systemd -u critical \
  -h string:image-path:/usr/share/icons/Qogir/scalable/apps/system-error.svg \
  "Service Failure" "%i has failed." --hint="string:wired-tag:tag_name"
