[Unit]
Description=Authentication agent via polkit-gnome
Documentation=https://wiki.archlinux.org/title/Polkit

After=graphical-session-pre.target
PartOf=graphical-session.target

OnFailure=notify-err@%n

[Service]
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
