[Unit]
Description=Change wallpaper via swww

After=swww.service
Wants=swww.timer

OnFailure=notify-err@%n

[Service]
Type=oneshot
ExecStart=-/usr/local/bin/swww-refresh %h/Pictures/Wallpapers/Desktop/
