[Unit]
Description=Wayland target

After=graphical-session-pre.target
BindsTo=graphical-session.target

Upholds=geoclue-fix.service
Upholds=polkit-agent.service
Upholds=thunar.service
Upholds=way-displays.service
Upholds=yambar.service

Wants=gammastep.service
Wants=graphical-session-pre.target
Wants=gtk.service
Wants=idle.service
Wants=pipewire-pulse.service
Wants=swww.service swww-refresh.service

OnFailure=notify-err@%n
