(
    max_notifications: 0,
    timeout: 10000,
    poll_interval: 16,
    history_length: 256,
    min_window_width: 256,

    layout_blocks: [
        // Layout 1, when an App image is present.
        (
            name: "root",
            parent: "",
            hook: Hook(parent_anchor: TR, self_anchor: TR),
            offset: Vec2(x: 2.0, y: 28.0),
            params: NotificationBlock((
                monitor: -1,
                background_color: Color(hex: "#282828"),
                border_width: 1.0,
                border_rounding: 0.0,
                border_color: Color(hex: "#d8a657"),
                border_color_low: Color(hex: "#89786E"),
                border_color_critical: Color(hex: "#ea6962"),
                border_color_paused: Color(hex: "#ea6962"),

                gap: Vec2(x: 0.0, y: 2.0),
                notification_hook: Hook(parent_anchor: BR, self_anchor: TR),
            )),
        ),

        (
            name: "image",
            parent: "root",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: ImageBlock((
                image_type: Hint,
                padding: Padding(left: 7.0, right: 0.0, top: 7.0, bottom: 7.0),
                rounding: 0.0,
                scale_width: 24,
                scale_height: 24,
                filter_mode: Triangle,
            )),
        ),

        (
            name: "summary",
            parent: "image",
            hook: Hook(parent_anchor: MR, self_anchor: BL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: TextBlock((
                text: "%s",
                font: "Source Sans Pro Bold 12",
                color: Color(hex: "#ebdbb2"),
                color_hovered: Color(hex: "#fbf1c7"),
                padding: Padding(left: 8.0, right: 8.0, top: 8.0, bottom: 0.0),
                dimensions: (width: (min: 64, max: 192), height: (min: 0, max: 0)),
                ellipsize: End,
            )),
        ),

        (
            name: "body",
            parent: "summary",
            hook: Hook(parent_anchor: BL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: -4.0),
            // https://github.com/Toqozz/wired-notify/wiki/ScrollingTextBlock
            params: TextBlock((
                text: "%b",
                font: "Source Sans Pro 11",
                color: Color(hex: "#ebdbb2"),
                color_hovered: Color(hex: "#fbf1c7"),
                padding: Padding(left: 8.0, right: 8.0, top: 0.0, bottom: 4.0),
                width: (min: 128, max: 256),
                dimensions: (width: (min: 192, max: 256), height: (min: 0, max: 64)),
                ellipsize: End,
            )),
        ),

        (
            name: "footer",
            parent: "body",
            hook: Hook(parent_anchor: BL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: -4.0),
            params: TextBlock((
                text: "%t(%H:%M:%S) | %n: %i",
                font: "JetBrainsMono 8",
                color: Color(hex: "#6b6b6b"),
                padding: Padding(left: 8.0, right: 8.0, top: 0.0, bottom: 8.0),
                dimensions: (width: (min: 64, max: 192), height: (min: 0, max: 0)),
                ellipsize: End,
            )),
        ),

        (
            name: "link",
            parent: "footer",
            hook: Hook(parent_anchor: BL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: -4.0),
            render_criteria: [ActionDefault],
            params: TextBlock((
                text: "click to activate",
                font: "JetBrainsMono 8",
                color: Color(hex: "#ebdbb2"),
                color_hovered: Color(hex: "#fbf1c7"),
                padding: Padding(left: 8.0, right: 8.0, top: 0.0, bottom: 8.0),
                dimensions: (width: (min: 64, max: 192), height: (min: 0, max: 0)),
                ellipsize: End,
            )),
        ),

        // (
        //     name: "buttons",
        //     parent: "footer",
        //     hook: Hook(parent_anchor: BL, self_anchor: TL),
        //     offset: Vec2(x: 6.0, y: -4.0),
        //     render_criteria: [ActionDefault],
        //     params: ButtonBlock((
        //         background_color: Color(hex: "#282828"),
        //         text: "%a",
        //         font: "Source Sans Pro 10",
        //         text_color: Color(hex: "#ebdbb2"),
        //         action: DefaultAction,
        //         padding: Padding(left: 6.0, right: 6.0, top: 6.0, bottom: 6.0),
        //         border_width: 1.0,
        //         border_rounding: 0.0,
        //         border_color: Color(hex: "#484848"),
        //         dimensions: (width: (min: 32, max: 128), height: (min: 0, max: 0)),
        //         ellipsize: End,
        //         align: Center,
        //         background_color_hovered: Color(hex: "#383838"),
        //     )),
        // ),
        //
        // (
        //     name: "spacer",
        //     parent: "buttons",
        //     hook: Hook(parent_anchor: BL, self_anchor: TL),
        //     offset: Vec2(x: 0.0, y: -4.0),
        //     render_criteria: [ActionDefault],
        //     params: TextBlock((
        //         text: "",
        //         font: "JetBrainsMono 2",
        //         color: Color(hex: "#6b6b6b"),
        //         padding: Padding(left: 8.0, right: 8.0, top: 0.0, bottom: 8.0),
        //         dimensions: (width: (min: 64, max: 192), height: (min: 0, max: 0)),
        //     )),
        // ),
    ],

    // https://github.com/Toqozz/wired-notify/wiki/Shortcuts
    shortcuts: ShortcutsConfig (
        notification_interact: 1,
        notification_close: 2,
        // notification_closeall: 99,
        notification_pause: 3,

        notification_action1: 3,
        // notification_action2: 99,
        // notification_action3: 99,
        // notification_action4: 99,
    ),
)
